body {
    margin: 0;
    background-color: #000000;
  }

a {
    text-decoration: none;
}

.link {
    color: blue;
}

h1, h2, p , li{
    color: white;
}

.text_input {
    display:block;
    width: 100%;
    overflow: hidden;
    padding-right:10px;
}

/* particle.js config */ 
canvas {
display: block;
vertical-align: bottom;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}