body {
    margin: 0;
    background-color: #000000;
  }

a {
    text-decoration: none;
}

.num_icon{
    background-color: grey;
    border-radius: 4px;
    color: white;
    font-size: smaller;
    padding-top:1px;
    padding-bottom:1px;
    padding-left:3px;
    padding-right:3px;
}

.delete_post_text{
    color:red;
}

.group_list_container{
    background-color: white;
    border-radius: 0.5em;
    line-height: 1em;
}

.group_list_text{
    color:rgb(75, 75, 75);
}

.group_list_subtext{
    color:rgb(75, 75, 75);
    font-size: smaller;
}

.link {
    color: blue;
}

h1, h2, p , li{
    color: white;
}

.nav_text{
    color: blue;
}

.text_input {
    display:block;
    width: 100%;
    overflow: hidden;
    padding-right:10px;
}

/* particle.js config */ 
canvas {
display: block;
vertical-align: bottom;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}