{% extends 'accounts/base.html' %}

{% block body_block %}

        <table >
            <tr style=" vertical-align: text-top;">
                <td>
                    <a href="{% url 'post:list_posts' user=post.user %}"><h3>@{{post.user}}</h3></a>
                </td>
                <td style="padding-left: 2em;">
                    <p>{{post.content}}</p>
                    <p>{{post.create_date}} in {{post.group}}</p>
                </td>
            </tr>
        </table>

{% endblock body_block %}