{% extends 'base.html' %}

{% block body_block %}
    {% comment %} https://stackoverflow.com/questions/45098826/access-kwargs-from-a-url-in-a-django-template {% endcomment %}
    <h1>@{{view.kwargs.user}}</h1>
    <h4>Groups:</h4>
    
    <ul>
        {% for group in user_groups %}
            <li>{{group.name}}</li>
        {% endfor %}
    </ul>
    

    <h4>Post History</h4>
    <table >
        {% for post in post_list %}
            {% comment %} The include keyword pulls _post.html in here and passes all parameters after the 'with' keyword as context variables {% endcomment %}
            {% include 'post/_post.html' with post=post hide_delete=False%}
        {% endfor %}
    </table>

{% endblock body_block %}