{% extends 'accounts/base.html' %}

{% block body_block %}

    <h1>{{group.name}}</h1>
    <p>description: {{group.description}}</p>
    <h2>Member count: {{group.users.count}}</h2>
    <a href="{% url 'group:add_member' pk=group.pk %}"><button type="button" class="btn btn-warning"><i class="bi bi-person-plus"></i> Join</button></a>
    <br>

    <div style="padding-top: 2em;" class="post_table">
        <table >
            {% for post in group.posts.all %}
            <tr style=" vertical-align: text-top;">
                <td>
                    <a href="{% url 'post:list_posts' user=post.user %}"><h3>@{{post.user}}</h3></a>
                </td>
                <td style="padding-left: 2em;">
                    <p>{{post.content}}</p>
                    <p><a href="{% url 'post:post_detail' user=post.user pk=post.pk %}">{{post.create_date}}</a> in {{post.group}}</p>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock body_block %}